.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.jumbotron {
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
    border-radius: 0px;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.mycard {
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    border: 0px;
}

.mytop {
    padding: 0px;
}

.mytop h1 {
    overflow: hidden;
    text-align: center;
}

.mytop h1:before,
.mytop h1:after {
    background-color: #c93d34;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.mytop h1:before {
    right: 0.2em;
    margin-left: -50%;
}

.mytop h1:after {
    left: 0.2em;
    margin-right: -50%;
}

.myblock {
    padding: 0px;
    border-color: red red #c93d34;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.club-img-bg {
    background-image: url('../img/der_club.png');
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
}